body {
    height: 0%;
    width: 900px;
}
.content h1 {
    position: relative;
    left: 70%;
}
.main {
    text-align: center;
    position: relative;
    left: 40%;
}
hr {
    position: relative;
    left: 40%;
}
h2 {
    position: relative;
    left: 40%;
}
h2 p {
    position: relative;
    left: 70%;
}
.side {
    position: relative;
    left: 40%;
}

.end {
    position: relative;
    left: 690px;
}