body {
    background-color: black;
}
#container {
    border-radius: 10px;
    width: 1000px;
    height: 280px;
    background-color: #fff;
    position: absolute;
    left: 25%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.submit {
    background-color: rgb(221, 218, 26);
    font-size: 24px;
    color: black;
    border-radius: 10px;   
    height: 30px;
    width: 100px;
}

h2 {
    color: gray;
}

.content {
    font-size: 24px;
    color:rgb(221, 218, 26);
}